<div class="text-align-center mb-5">

  <div class="col-md-12 mt-5 align-middle">
    <h4>Detalle de operación</h4>
    <h5>Número de tarjeta: {{model.numeroTarjeta| mask: '0000-0000-0000-0000'}}</h5>
    <h5>Fecha y hora de operación: {{fechaFormateada}}</h5>
    <h5>Cantidad retirada: ${{model.cantidadRetirada}}</h5>
    <h5>Balance de la cuenta: ${{model.balanceCuenta}}</h5>
  </div>

  <div class="col-md-12 mt-5 w-100 align-middle">
    <button class="btn btn-info mr-1" [routerLink]="['/operaciones']">Atrás</button>
    <button class="btn btn-danger ml-1" (click)="salir()">Salir</button>
  </div>
</div>
