.btn-keypad {
  height: 46px;
  width: 102px;
  border-radius: 12px;
  border: 0.8px solid darkgray;
}

.f-left {
  float: left;
}

.alert-space {
  width: 340px !important;
}

.margin-5 {
  margin-top: 5px;
}

input {
  width: 340px !important;
}

.text-align-center {
  text-align: center;
}
